
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Login</title>
</head>
<body>


</body>
</html>

<script>
    function rent ()
    {

        $.ajax({
            // url: './cart',

            url: '/cart/add',
            type: 'POST',
            action: '/product',
            //data: {'id': id, 'numberOfProducts' : document.getElementById(id).value},
            data: {'id': id, 'numberOfProducts' :  document.getElementById(id).value},
            success: function(data){
                document.getElementById("span").innerHTML=""+ data;
                alert('ok');
            }
        });
    }

</script>